# Flutter/Dart specific files
**/build/
**/ios/Pods/
**/android/.gradle/
**/android/captures/
**/android/gradle/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/GeneratedPluginRegistrant.*
.dart_tool/
.packages
.pub/
Flutter-Debug.log*
.flutter-plugins
.flutter-plugins-dependencies